<div class="side-nav">
  <ul class="nav-container">
    <li class="nav-btn">
      <a class="nav-link" href="/">Dashboard</a>
    </li>
    <li class="nav-btn">
      <a class="nav-link" href="/patients">Patients</a>
    </li>
    <li class="nav-btn">
      <a class="nav-link" href="">Appointments</a>
    </li>
    <li class="nav-btn">
      <a class="nav-link" href="/staff">Staff</a>
    </li> 
  </ul>
</div>