<div class="side-nav">
  <img src="/images/Recordly logo.png" class="logo-icon">
  <ul class="nav-container">
    <li class="nav-btn">
      <a class="nav-link" href="/">Dashboard</a>
    </li>
    <li class="nav-btn">
      <a class="nav-link" href="/patients">Patients</a>
    </li>
    <li class="nav-btn">
      <a class="nav-link" href="/appointments">Appointments</a>
    </li>
    <li class="nav-btn">
      <a class="nav-link" href="/staff">Staff</a>
    </li> 
  </ul>

  <a class="log-out-button" href="/staffLogin">Log Out</a>
  <a class="reset-password-button" href="/resetPassword">Reset Password</a>
</div>