<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <div class="body-container">
      <div class="top-nav">
        <p class="page-title"><%= title %></p>
      </div>
      

      <%- include('../partials/side-nav.ejs') %>

      <div class="body-element">
        <% if (message && message.length > 0) { %>
          <div class="flash-message">
            <%= message %>
          </div>
         <% } %>
        <%- body %>
      </div>
    </div>
    <script src="/tabDesign.js"></script>
  </body>
</html>