
  <div class="empty-state">
    <div class="empty-state-container">
      <img src="/images/empty state.png" class="empty-state-img">
      <p class="empty-state-content"><%= content %></p>
      <a href="/staff/add" class="primary-button primary-button-anchor">Add New staff</a>
    </div>
    
  </div>
</div>

