<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <div class="body-container">
      <div class="top-nav">
        <p class="page-title" >Dashboard</p>
      </div>

      <div class="side-nav">
        <ul class="nav-column">
          <li class="nav-btn">
            <a class="nav-link" href="">Dashboard</a>
          </li>
          <li class="nav-btn">
            <a class="nav-link" href="">Patients</a>
          </li>
          <li class="nav-btn">
            <a class="nav-link" href="">Appointments</a>
          </li>
          <li class="nav-btn">
            <a class="nav-link" href="">Staff</a>
          </li> 
        </ul>
      </div>

      <div class="grid-container">
        <div class="grid-item">
          <span class="item-content">Total Patients</span>
          <span class="item-content-bold">24</span>
        </div>

        <div class="grid-item">
          <span class="item-content">Total Appointments</span>
          <span class="item-content-bold">24</span>
        </div>

        <div class="grid-item">
          <span class="item-content">Total Staff</span>
          <span class="item-content-bold">24</span>
        </div>
      </div>

      <div class="patient-overview">
        <p class="patient-overview-txt">New Patients</p>
        <table>
          <tbody>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Email Address</th>
              <th>Next of Kin</th>
              <th>Allergy</th>
              <th>Appointment Date</th>
            </tr>
            <tr>
             <td>Akin</td>
              <td>Fakorede</td>
              <td>Male</td>
              <td>akinfako@gmail.com</td>
              <td>Sola Fakorede</td>
              <td>None</td>
              <td>10/08/2024</td>
            </tr>
            <tr>
              <td>Akin</td>
               <td>Fakorede</td>
               <td>Male</td>
               <td>akinfako@gmail.com</td>
               <td>Sola Fakorede</td>
               <td>None</td>
               <td>10/08/2024</td>
             </tr>
             <tr>
              <td>Akin</td>
               <td>Fakorede</td>
               <td>Male</td>
               <td>akinfako@gmail.com</td>
               <td>Sola Fakorede</td>
               <td>None</td>
               <td>10/08/2024</td>
             </tr>
          </tbody>
          
      </table>
      </div>
    </div>
    
  </body>
</html>
