<div class="all-patients">
  <div class="title-wrapper">
    <p>All Patients</p>
    <a href="/registerPatient" class="primary-button">Register New Patient</a>
  </div>

  <table>
    <tbody>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email Address</th>
        <th>Next of Kin</th>
        <th>Allergy</th>
        <th>Appointment Date</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Akin</td>
        <td>Fakorede</td>
        <td>Male</td>
        <td>akinfako@gmail.com</td>
        <td>Sola Fakorede</td>
        <td>None</td>
        <td>10/08/2024</td>
        <td><a href="" class="anchor-link">View more</a></td>
      </tr>
      <tr>
          <td>Akin</td>
          <td>Fakorede</td>
          <td>Male</td>
          <td>akinfako@gmail.com</td>
          <td>Sola Fakorede</td>
          <td>None</td>
          <td>10/08/2024</td>
          <td><a href="" class="anchor-link">View more</a></td>
        </tr>
        <tr>
          <td>Akin</td>
          <td>Fakorede</td>
          <td>Male</td>
          <td>akinfako@gmail.com</td>
          <td>Sola Fakorede</td>
          <td>None</td>
          <td>10/08/2024</td>
          <td><a href="" class="anchor-link">View more</a></td>
        </tr>
    </tbody>
  </table>
</div>
    
