<div class="register-div">
  <h1>Add New Staff</h1>
  <p>Fill in the right information about the new staff in the fields below.</p>

  <div>
    <form action="/staff/add" method="POST">
      <label for="firstNameInput">First Name</label>
      <input type="text" name="firstName">

      <label for="lastNameInput">last Name</label>
      <input type="text" name="lastName">

      <label for="gender">Input Gender</label>
      <select name="gender" class="gender-dropdown">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="nonbinary">Non Binary</option>
      <select>

      <label for="email">Input Email Address</label>
      <input type="email" name="email">

      <label for="department">Select Department</label>
      <select name="department" class="dept-dropdown">
        <option value="" disabled selected>Select Department</option>
        <option value="nursing">Nursing</option>
        <option value="records">Records</option>
        <option value="pharmacy">Pharmacy</option>
        <option value="laboratory">Laboratory</option>
        <option value="medicine">Medicine</option>
        <option value="physiotherapy">Physiotherapy</option>
      <select>

      <label for="qualification">Input Educational Qualification(s)</label>
      <input type="text" name="qualification">

      <!-- <label for="password">Input Password</label>
      <input type="text" name="password"> -->

      <button type="submit" class="primary-button primary-button-submit">Add New Staff</button>
    </form>
  </div>
</div>