<div class="register-div">
  <h1>Log in to your account</h1>
 
  <div>
    <form action="/resetPassword" method="POST">

      <label for="email">Input Email Address</label>
      <input type="email" name="email">

      <label for="password">Input Current Password</label>
      <input type="text" name="password">

      <label for="password">Input New Password</label>
      <input type="text" name="password">

      <button type="submit" class="primary-button primary-button-submit">Reset Password</button>
    </form>
  </div>
</div>