<% if (message && message.length > 0) { %>
  <div class="flash-message">
   <%= message %>
  </div>
 <% } %>


<div class="register-div">
  <h1>Log in to your account</h1>
 
  <div>
    <form action="/login" method="POST">

      <label for="email">Input Email Address</label>
      <input type="email" name="email">

      <label for="password">Input Password</label>
      <input type="text" name="password">

      <button type="submit" class="primary-button primary-button-submit">Log Into Your Account</button>
    </form>
  </div>
</div>