<div class="all-patients">
  <div class="title-wrapper">
    <p class="all-staff-p">All Staff</p>
    <a href="/staff/add" class="primary-button">Add New staff</a>
  </div>

  <table>
    <tbody>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email Address</th>
        <th>Department</th>
        <th>Qualification</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Ayo</td>
        <td>Olaiya</td>
        <td>Female</td>
        <td>ayoolaiya@gmail.com</td>
        <td>Clinical Nursing</td>
        <td>RN</td>
        <td><a href="" class="anchor-link">View more</a></td>
      </tr>
      <tr>
        <td>Ayo</td>
        <td>Olaiya</td>
        <td>Female</td>
        <td>ayoolaiya@gmail.com</td>
        <td>Clinical Nursing</td>
        <td>RN</td>
        <td><a href="" class="anchor-link">View more</a></td>
        </tr>
        <tr>
          <td>Ayo</td>
          <td>Olaiya</td>
          <td>Female</td>
          <td>ayoolaiya@gmail.com</td>
          <td>Clinical Nursing</td>
          <td>RN</td>
          <td><a href="" class="anchor-link">View more</a></td>
        </tr>
    </tbody>
  </table>
</div>